name: Deploy Documentation

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python runtime
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: .github/workflows/deploy_docs.yml

      - name: Install MkDocs
        run: pip install mkdocs-material mkdocstrings mkdocstrings-python

      - name: Deploy documentation
        run: mkdocs gh-deploy --force
